<div class="delimiter-big"></div>
<div class="col-md-6 col-xs-6">
	<% @results.businesses.each do |business| %>
	<p><%= business.name %> | <%= business.location.display_address[0] %></p>
	<p>Phone: <%= business.display_phone %> | Rating: <%= business.rating %></p>
	<p></p>

	<% end %>
</div>
<div class="col-md-6 col-xs-6">
	<!--div id="control-container">
		<div id="map-canvas"></div>
	</div-->
	<div id="map-canvas" style="position: absolute; width: 500px; height: 700px;"></div>
	
</div>

