<div class="col-md-6 col-xs-6">
	<% @results.businesses.each do |business| %>
	<p><%= business.name %></p>
	<p><%= business.location.address[0] %>, <%= business.location.address[1] %></p>

	<% end %>
</div>
<div class="col-md-6 col-xs-6">
	<!--div id="control-container">
		<div id="map-canvas"></div>
	</div-->
	<div id="map-canvas">
		<div id="control-container" style="width:100%; height:100%;"></div>	
	</div>
</div>

